/*Disable horizantal scroll */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-x: -moz-hidde-unscrollable;
}

p:hover, p:visited, p:active, a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}
:root{
    --header_top_margin: 30px;
    --header_obj_heights: 40px;
}


/******************************************** Header *********************************************/
.header{
    background-color: white;
    margin-left: 0;
    height: 90px;
}

#logo{
    margin-left: 20px;
    padding: 10px;
    width: 75px;
    height: 90px;
}
.login_signup_buttons_container{
    position: absolute !important;
    right: 1%;
}
.login_signup_buttons{
    margin-top: var(--header_top_margin);
    height: var( --header_obj_heights);
}
#my_account_button{
    color: white;

}
.searchbar_container{
    margin-top: var(--header_top_margin);
    margin-left: 2%;
}
#searchbar, .searchbar_container{
    width: 600px;
    height: var( --header_obj_heights);

}
.magnifyin_glass{
    background-color: rgba(33, 32, 33, 0.29);
    margin-left: -61px;
    border: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px ;
    width: 10%;
    margin-top: 1px;
    height: 38px;
}
.magnifyin_glass:hover{
    background-color: rgb(104, 198, 255);
}
.magnifyin_glass:active{
    background-color: rgb(29, 135, 255);
}


/*-------- DROP DOWN MENU START ------*/

#browse_button_container{
    margin-top: var(--header_top_margin);
    margin-left: 15%;
    width: 100px;
    height: var(--header_obj_heights);
    border-radius: 3px;
    /*padding: 10px;*/
}

.browse_button{
    color: black;
    font-size: 15px;
    margin-left: 10px;
    position: center;
    height: var(--header_obj_heights);
}
.dropdown_container{
   margin-left: -10px;
   padding-bottom: 26px;
}
.mega-dropdown-menu {
    width: 750px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 10px;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li > ul > li > a:hover {
    background-color: #dddddd;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #2846ff;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

/*------- DROP DOWN MENU END ------*/

/*************************************** Header END ***********************************/


/****************************************** Body *********************************************/

/*-----SLIDE SHOW begin -------*/
* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    background: #dff8ff;
    width: 100%;
    position: relative;
    margin: auto;
    height: 300px;
    overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*-----Slide Show End ----- */

.featured_section {
    height: 300px;
    background-color: #6b6e69;
}

/* Featured Popular Trending New Catergory bottons css start*/
.button_container{
    margin-left: 9%;
    width: 100%;
}
.quick_filter_buttons_row{
    background-color: #3499ff;
}

.quick_filter_buttons{
    position: center;
    width: 17.6%;
    background-color: #3499ff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    font-size: 180%;
    font-weight: bolder;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.quick_filter_buttons:hover {
    color: white;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}
.quick_filter_buttons.active {
    border-bottom: 3px solid yellow;

}
/*filter button css end */



/* Recipe display css start */

.recipe_container{
    margin-top: -15px;
    margin-left: 5px !important;
}
.recipe_block{
    overflow: hidden;
    background-color: #e4fcff;
    border-color: #dff8ff;
    border-width: 5px;
    border-style: solid;
    height: 290px;
    width: 300px;
    margin: 5px;
    border-radius: 10px;
}
.recipe_block_view{
    margin-left: -15px;
    width: 325px;
    height: 225px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .5s ease;
}

.recipe_block_view:hover{
    margin-left: -40px ;
    margin-top: -100px;
    width: 360px;
    height: 250px;
}
.recipe_block_recipe_title{
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-left: 5px;
}
#recipe_block_info{
    margin-top: -13px;
    margin-left: 10px;
    color: #1b1e21;
    font-weight: normal;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.star-ratings {
    unicode-bidi: bidi-override;
    color: #4e504e;
    font-size: 15px;
    height: 15px;
    width: 50px;
    margin-left: -2px;
    position: relative;
    padding-bottom: 18px;
}
.star-ratings-top {
    color: gold;
    position: absolute;
    z-index: 1;
    display:block;
    overflow: hidden;
    width: 0;
}
.star-ratings-bottom {
    z-index: 0;
}

/*.recipe_rating_description{*/
    /*position: relative;*/
    /*bottom: 0px;*/
    /*background-color: #4065ff;*/
    /*width: 250px;*/
    /*height: 100px;*/
/*}*/
/* Recipe display css end */




/* Recipe detail page Start*/
.board {
  margin: 10px;
  height: 450px;
  width: 450px;
  font-weight: bold;
  color: black;
  text-align: center;
    border: 5px solid black ;
  float:right;
}

.recipeviewimage{
     max-width: 620px;
     max-height: 500px;
}
#recipename{
    padding:40px;
    text-align: center;
    font-size:50px;
}
#description{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}
#name{
    font-size:20px;
}
.recipeviewimage{
    padding-top: 10px;
    height: 460px;

}
#board2{
    height: 290px;
    width: 100%;
    border: 5px solid black
}
div.relative{
    position:relative;
    left: 83px;
    padding-top: 28px;
}

#rating{
    font-size:35px;
}
#cat{
    font-size:40px;
}
#board3{
    height: 290px;
    width: 100%;
    border: 5px solid black
}
#board4{
    height: 150px;
    width: 100%;
    border: 5px solid black
}

/* Recipe detail page END*/