/*Disable horizantal scroll */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-x: -moz-hidde-unscrollable;
}

/******************************************** Header *********************************************/
.header{
    background-color: #3eb1ff;
    margin-left: 0px;
    height: 60px;
}

.searchbar_container, .login_signup_buttons{
    padding-top: 10px;
    padding-bottom: 10px;
}

.login_signup_buttons{
    position: absolute;
    right: 1%;
}
.searchbar_container{
    margin-left: 20%;
}
#searchbar, .searchbar_container{
    width: 600px;

}

.magnifyin_glass{
    background-color: rgba(33, 32, 33, 0.29);
    margin-left: -61px;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px ;
    width: 10%;
    margin-top: 1px;
    height: 36px;
}
.magnifyin_glass:hover{
    background-color: rgba(0, 92, 135, 0.47);
}
.magnifyin_glass:active{
    background-color: rgba(0, 89, 188, 0.47);
}

/*************************************** Header END ***********************************/


/****************************************** Body *********************************************/

/*-----SLIDE SHOW begin -------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*-----Slide Show End ----- */

.featured_section {
    height: 300px;
    background-color: #6b6e69;
}

/* Featured Popular Trending New Catergory bottons css start*/
.button_container{
    margin-left: 9%;
    width: 100%;
}
.quick_filter_buttons_row{
    background-color: #3499ff;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.quick_filter_buttons{
    position: center;
    width: 17.6%;
    background-color: #3499ff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    font-size: 180%;
    font-weight: bolder;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.quick_filter_buttons:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}
.quick_filter_buttons:active {
    background-color: #40b1ff;
}

/*filter button css end */



/* Recipe display css start */
.recipe_container{
    margin-left: 0px;
}
.recipe_block{
    overflow: hidden;
    background-color: #a8cbff;
    border-color: #020080;
    border-width: 5px;
    border-style: solid;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
}
.recipe_block_view{
    margin-left: -15px;
    width: 199px;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .5s ease;
}

.recipe_block_view:hover{
    margin-left: -40px ;
    margin-top: -30px;
    width: 250px;
    height: 180px;
}
.recipe_block_recipe_title{
    margin-left: -10px;
}
#recipe_block_info{
    margin-top: -13px;
    margin-left: -5px;
    color: #1b1e21;
    font-weight: normal;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.star-ratings {
    unicode-bidi: bidi-override;
    color: #4e504e;
    font-size: 15px;
    height: 15px;
    width: 50px;
    margin-left: -2px;
    position: relative;
    padding-bottom: 18px;
}
.star-ratings-top {
    color: gold;
    position: absolute;
    z-index: 1;
    display:block;
    overflow: hidden;
}
.star-ratings-bottom {
    z-index: 0;
}

/*.recipe_rating_description{*/
    /*position: relative;*/
    /*bottom: 0px;*/
    /*background-color: #4065ff;*/
    /*width: 250px;*/
    /*height: 100px;*/
/*}*/
/* Recipe display css end */




/* Recipe detail page Start*/
.board {
  margin: 10px;
  height: 450px;
  width: 450px;
  font-weight: bold;
  color: black;
  text-align: center;
    border: 5px solid black ;
  float:right;
}

.recipeviewimage{
     max-width: 620px;
     max-height: 500px;
}
#recipename{
    padding:40px;
    text-align: center;
    font-size:50px;
}
#description{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}
#name{
    font-size:20px;
}
.recipeviewimage{
    padding-top: 10px;
    height: 460px;

}
#board2{
    height: 290px;
    width: 100%;
    border: 5px solid black
}
div.relative{
    position:relative;
    left: 83px;
    padding-top: 28px;
}

#rating{
    font-size:35px;
}
#cat{
    font-size:40px;
}
#board3{
    height: 290px;
    width: 100%;
    border: 5px solid black
}
#board4{
    height: 150px;
    width: 100%;
    border: 5px solid black
}

/* Recipe detail page END*/