{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <div class="slideshow-container">
    {% for recipe in recipe_list %}
        <div class="mySlides fade">
          <div class="numbertext">{{ forloop.counter }} / 3</div>

            {% if forloop.first %}
                <img style="width:100%" src="{% static recipe.image.url %}">
            {% elif forloop.counter0 %}
                <img style="width:100%" src="{% static recipe.image.url %}">
            {% endif %}

          <div class="text">Caption Text</div>
        </div>
    {% endfor %}

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>


    <div class = "row quick_filter_buttons_row">
        <div class="button_container">
            <a class="quick_filter_buttons {% if explore == 'featured' %}active{% endif %}" href="{% url 'featured' %}">Featured</a>
            <a class="quick_filter_buttons {% if explore == 'popular' %}active{% endif %}" href="{% url 'popular' %}">Popular</a>
            <a class="quick_filter_buttons {% if explore == 'trending' %}active{% endif %}" href="{% url 'trending' %}">Trending</a>
            <a class="quick_filter_buttons {% if explore == 'new' %}active{% endif %}" href="{% url 'new' %}">New</a>
            <a class="quick_filter_buttons {% if explore == 'categories' %}active{% endif %}" href="{% url 'categories' %}">Categories</a>
        </div>
    </div>

<div class="row container-fluid recipe_container">
    {% block main %}{% endblock %}
</div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }

    </script>

{% endblock %}
