{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <!-- Slideshow -->
    <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
          <div class="mySlides">
            <img style="width: 100%" src="{% static 'images/slideshow/intro.jpg' %}">
            <div class="intro_text_line1 animated fadeInDown slow">A Recipe</div><br>
            <div class="intro_text_line2 animated fadeInLeft slow">For Everyone</div>
          </div>

          <div class="mySlides">
            <img style="width: 100%"  src="{% static 'images/slideshow/dessert.jpg' %}">
             <div class="dessert_text_line1 animated slideInRight slow">Making sweet</div><br>
             <div class="dessert_text_line2 animated slideInLeft slow">things happen</div>
             <div class="dessert_text_line3 animated bounceInDown slower">!</div>
          </div>

          <div class="mySlides">
            <img style="width: 100%"  src="{% static 'images/slideshow/vegan.jpg' %}">
             <div class="vegan_text_line1 animated flipInX slow">Amazing</div><br>
             <div class="vegan_text_line2 animated flipInX slow">Vegan</div><br>
             <div class="vegan_text_line2 animated flipInX slow">Recipes</div>
          </div>

          <div class="mySlides">
            <img style="width: 100%"  src="{% static 'images/slideshow/meat.jpg' %}">
            <div class="meat_text_line1 meat animated bounceInRight slower">Meat!</div><br>
            <div class="meat_text_line2 meat animated bounceInLeft slower">Meat!</div><br>
            <div class="meat_text_line3 meat animated bounceInRight slower">Meat!</div><br>
            <div class="meat_text_line4 meat animated bounceInLeft slower">Meat!</div><br>
            <div class="meat_text_line5 meat animated zoomInLeft slower">Meat!</div><br>
            <div class="meat_text_line6 meat animated zoomInRight slower">Meat!</div><br>
          </div>

          <div class="mySlides">
              <img style="width: 100%"  src="{% static 'images/slideshow/drinks.jpg' %}">
              <div class="drinks_text_line1 drinks animated fadeInDown slow">Drink</div>
              <div class="drinks_text_line2 drinks animated fadeInDown slow">Recipes</div>
              <div class="drinks_text_line3 drinks animated fadeInUp slow">For All</div>
              <div class="drinks_text_line4 drinks animated fadeInUp slow">Occasions</div>
          </div>

        </div>

    <!-- Side menu-->
    <div class="row content-main">
        <div class="col-1 explore-select">
            <ul class="list-group">
                <li class="list-group-item {% if explore == 'featured' %}active{% endif %}"><a href="{% url 'featured' %}">Featured</a></li>
                <li class="list-group-item {% if explore == 'popular' %}active{% endif %}"><a href="{% url 'popular' %}">Popular</a></li>
                <li class="list-group-item {% if explore == 'trending' %}active{% endif %}"><a href="{% url 'trending' %}">Trending</a></li>
                <li class="list-group-item {% if explore == 'new' %}active{% endif %}"><a href="{% url 'new' %}">New</a></li>
            </ul>
        </div>
        <div class="col-10 container-fluid recipe_container">
                {% block main %}{% endblock %}
        </div>
    </div>

  <!--Slideshow JavaScript -->
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 5000); // Change image every 2 seconds
        }
    </script>

{% endblock %}
