{% extends 'core/base.html' %}

<!--author: Ziming Dong-->

{% block title %}Recipe detail{% endblock %}

{% block content %}

<div class="container">

    <div class=" board">
        <h1 id="recipename"> {{ recipe.name }} </h1>
        <p id="name">By-{{ recipe.user.username }}</p>
        <h1 id="rating"> Rating: {{ recipe.avg_rating }}</h1>
        <h2 id="description">Description: {{ recipe.summary }}</h2>
    </div>
    {% load static %}
    {% if recipe.image %}
        <img class="recipeviewimage" src="{% static recipe.image.url %}">
    {% endif %}
</div>

    <div class="relative">
    <h1> References:</h1>
    </div>

<div class="container">
    <div id="board2">
        <div >
            <h1>

        {% for category in recipe.categories.all %}
            <div id="cat">Categories：[ {{ category.display_name }} ]</div>
        {% endfor %}
            </h1>
            <h1>Prepare Time: {{ recipe.prep_time }}</h1>
            <h1>Cook Time: {{ recipe.cook_time }}</h1>
            <h1>Servings: {{ recipe.servings }}</h1>
            <h1>Calories: {{ recipe.calories }}</h1>
        </div>
    </div>
</div>

    <div class="relative">
    <h1> Ingredients:</h1>
    </div>

    <div class="container">
    <div id="board3">
        <div >
            <h1>
                <ul>
    {% for ing in ingredients %}
        <li id="ingredients">{{ ing.quantity }} {{ ing.ingredient.name }}</li>
    {% endfor %}
    </ul>
            </h1>
        </div>
    </div>
</div>


    <div class="relative">
    <h1> Directions:</h1>
    </div>
    <div class="container">
    <div id="board4">
        <div >
            <h1>

    {% for dir in directions %}
        <div>{{ dir.text }}</div>
    {% endfor %}


            </h1>
        </div>
    </div>
</div>

    {% if can_review %}
        <div class="relative">
        <h1>Leave a review</h1>
        <form action="{% url 'submit_review' recipe.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="text" id="text"></textarea>
            </div>
            <div class="form-group">
                <label for="rating"id="rating">Rating</label>
                <input type="number" class="form-control" name="rating" id="rating">
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        {% endif %}
        </div>



{% endblock %}
