{% extends 'core/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>

    {% if form.errors %}
        <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
        </div>
        <input type="hidden" name="next" value="{% url 'index' %}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
