{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="col-lg-offset-4 col-lg-5 container">
    <h1>Sign up</h1>

    {% if form.errors %}
        <div class="alert alert-danger">
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username"
                   aria-describedby="usernameHelp">
            <small id="usernameHelp" class="form-text text-muted">Enter an username between 6 and 30 characters.</small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="password2">Confirm password</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   placeholder="Confirm your password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
