<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

   {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/open-iconic/font/css/open-iconic-bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/stylesheets/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="{% static 'core/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script>
        var scrollEventHandler = function()
        {
          window.scroll(0, window.pageYOffset)
        }

        window.addEventListener("scroll", scrollEventHandler, false);
    </script>
{% block scripts %}{% endblock %}

</head>
<body>
<div class = "row container-fluid header">
    <div class="searchbar_container">
        <form action="{% url 'search' %}" method="get">
            {% csrf_token %}
            <div class="input-group-append">
                <input type="text" class="form-control" id = "searchbar" name="q" placeholder="Search" aria-describedby="advanced-search" required>
                <button type="submit" class="magnifyin_glass">
                    <span class="oi oi-magnifying-glass"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="btn-group login_signup_buttons" role="group">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" role="button" class="btn btn-primary">Log in</a>
            <a href="{% url 'signup' %}" role="button" class="btn btn-secondary">Sign up</a>
        {% else %}
            <a href="{% url 'logout' %}" role="button" class="btn btn-secondary">Sign out</a>
        {% endif %}
    </div>
</div>
{% block content %}{% endblock %}


</body>
</html>
