{% extends 'core/base.html' %}
<!------

My recipes shows recipes not created by the user

Can't add ingridients, directions, from backend when adding recipes

--->


{% block content %}

<div class = "row featured_section">

</div>

<div class = "row quick_filter_buttons_row">
 <div class="button_container">
    <a class="quick_filter_buttons {% if explore == 'featured' %}active{% endif %}" href="{% url 'featured' %}">Featured</a>
    <a class="quick_filter_buttons {% if explore == 'popular' %}active{% endif %}" href="{% url 'popular' %}">Popular</a>
    <a class="quick_filter_buttons {% if explore == 'trending' %}active{% endif %}" href="{% url 'trending' %}">Trending</a>
    <a class="quick_filter_buttons {% if explore == 'new' %}active{% endif %}" href="{% url 'new' %}">New</a>
    <a class="quick_filter_buttons {% if explore == 'category' %}active{% endif %}" href="{% url 'categories' %}">Categories</a>
 </div>
</div>

<div class="row container-fluid recipe_container">
    {% block main %}{% endblock %}
</div>

{% endblock %}
