{% load static %}

<div class = "row header">

    <!-- Completed the logo should not go in the media directory because that's for uploaded images and is .gitignored -->
    <!-- Completed please put logo in core/static/images :) -->
    <a href="{% url 'index' %}"><img id="logo" src="{% static 'images/Logo1.jpg' %}"></a>

    <div id = "browse_button_container">
        <div class="dropdown dropdown_container">
            <a href="#" class="btn btn-primary dropdown-toggle browse_button" data-toggle="dropdown">BROWSE</a>
            <ul class="dropdown-menu mega-dropdown-menu">
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">Category 1</li>
                        <li><a href="#">Col 1 Row 1</a></li>
                        <li><a href="#">Col 1 Row 2</a></li>
                        <li><a href="#">Col 1 Row 3</a></li>
                        <li><a href="#">Col 1 Row 4</a></li>

                        <li class="divider"></li>
                        <li class="dropdown-header">Category 2</li>
                        <li><a href="#">Col 1 Row 5</a></li>
                        <li><a href="#">Col 1 Row 6</a></li>

                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">Category 3</li>
                        <li><a href="#">Col 2 Row 1</a></li>
                        <li><a href="#">Col 2 Row 2</a></li>
                        <li><a href="#">Col 2 Row 3</a></li>
                        <li><a href="#">Col 2 Row 4</a></li>

                        <li class="divider"></li>
                        <li class="dropdown-header">Category 4</li>
                        <li><a href="#">Col 2 Row 5</a></li>
                        <li><a href="#">Col 2 Row 6</a></li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">Category 5</li>
                        <li><a href="#">Col 3 Row 1</a></li>
                        <li><a href="#">Col 3 Row 2</a></li>
                        <li><a href="#">Col 3 Row 3</a></li>
                        <li><a href="#">Col 3 Row 4</a></li>

                        <li class="divider"></li>
                        <li class="dropdown-header">Category 6</li>
                        <li><a href="#">Col 3 Row 5</a></li>
                        <li><a href="#">Col 3 Row 6</a></li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">Category 7</li>
                        <li><a href="#">Col 4 Row 1</a></li>
                        <li><a href="#">Col 4 Row 2</a></li>
                        <li><a href="#">Col 4 Row 3</a></li>
                        <li><a href="#">Col 4 Row 4</a></li>

                        <li class="divider"></li>
                        <li class="dropdown-header">Category 8</li>
                        <li><a href="#">Col 4 Row 5</a></li>
                        <li><a href="#">Col 4 Row 6</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="searchbar_container">
        <form action="{% url 'search' %}" method="get">
            {% csrf_token %}
            <div class="input-group-append">
                <input type="text" class="form-control" id = "searchbar" name="q" placeholder="Search" aria-describedby="advanced-search" required>
                <button type="submit" class="magnifyin_glass">
                    <span class="oi oi-magnifying-glass"></span>
                </button>
            </div>
        </form>
    </div>

    <span class="btn-group login_signup_buttons_container" role="group">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" role="button" class="btn btn-primary login_signup_buttons">Log in</a>
            <a href="{% url 'signup' %}" role="button" class="btn btn-secondary login_signup_buttons">Sign up</a>
        {% else %}
            <div class="btn btn-primary login_signup_buttons dropdown pull-right">
                <a href="#" class="dropdown-toggle" id = "my_account_button" data-toggle="dropdown" role="button" aria-expanded="false">
                    {{ request.user.username }}
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a>Signed in as <strong>{{ request.user.username }}</strong></a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'user_profile' request.user.username %}">Your profile</a></li>
                    <li><a href="{% url 'user_recipes' request.user.username %}">Your recipes</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'preferences' %}">Preferences</a></li>
                    <li><a href="{% url 'logout' %}">Sign out</a></li>
                </ul>
            </div>
        {% endif %}
    </span>
</div>
