{% if recipe_list %}


<div class="row">
    {% for recipe in recipe_list %}
        <a class="recipe_block" href={% url 'recipe_detail' recipe.id %}>
            {% load static %}
            {% if recipe.image %}
                 <img class="recipe_block_view" src="{% static recipe.image.url %}">
            {% endif %}
            <p class="text-dark recipe_block_recipe_title">{{ recipe.name }}</p>
            <div id ="recipe_block_info">
                <div class="star-ratings">
                    <div class="star-ratings-top" style="width: {{ recipe.avg_percent_rating }}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-bottom"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                </div>
                <p>
                    By: {{ recipe.user.username }}<br>
                    Description: {{ recipe.summary }}
                </p>
            </div>
        </a>
    {% endfor %}
</div>

{% else %}
    <p>No recipes are available.</p>
{% endif %}
