{% extends 'core/base.html' %}
{% load static %}
<!--author: Ziming Dong-->

{% block title %}Recipe detail{% endblock %}

{% block content %}


    <div class="row container-fluid">

        <div class = "contect_img_container">
            {% if recipe.image %}
                <img class="recipeviewimage" src="{% static recipe.image.url %}">
            {% endif %}
        </div>

        <div class="title_rating_description_container">
                <h1 class="recipe_title" > {{ recipe.name }} </h1>

                <div class="star-ratings star-rating-content-page ">
                    <div class="star-ratings-top" style="width: {{ recipe.avg_percent_rating_large }}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-bottom"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                </div>
             <p class="user_name"> By: {{ recipe.user.username }}</p>
             <p id="description">Description: {{ recipe.summary }}</p>
        </div>
    </div>

    <div class = "row recipe_quick_info_container">

        <div class = "recipe_quick_info">
            <p class = "quick_info_text">{{ recipe.prep_time }}</p>
            <p>Prep (min)</p>
        </div>

        <div class = "recipe_quick_info">
            <p class = "quick_info_text">{{ recipe.cook_time }}</p>
            <p>Cook (min)</p>
        </div>

        <div class = "recipe_quick_info">
            <p class = "quick_info_text">{{ recipe.servings }} </p>
            <p>Servings</p>
        </div>

        <div class = "recipe_quick_info" style="border: none">
            <p class = "quick_info_text">{{ recipe.calories }}</p>
            <p>Calories</p>
        </div>

    </div>


    <div class="recipe_info_section_headers">
        <p>Ingredients</p>
    </div>

    <hr class="hr">

    <div class = "ingredient_direction_section_container" >
        <ul>
            {% for ing in ingredients %}
                <li id="ingredients">{{ ing.quantity }} {{ ing.ingredient.name }}</li>
            {% endfor %}
        </ul>
    </div>


    <div class="recipe_info_section_headers">
        <p>Directions</p>
    </div>

    <hr class="hr">

    <div class = "ingredient_direction_section_container">
        {% for dir in directions %}
            <div>{{ dir.text }}</div>
        {% endfor %}
    </div>



<hr class="hr">

    {% if can_review %}
        <div class="review_container">
            <h1>Leave a review</h1>
            <form action="{% url 'submit_review' recipe.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="text" id="text" placeholder="What did you think of this recipe?"></textarea>
                </div>
                <div class="form-group">
                    <label for="rating"id="rating">  Rating  </label>  <span>★</span>  <span>★</span>  <span>★</span>  <span>★</span> <span>☆</span>
                    <input type="number" class="form-control" name="rating" id="rating">
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    {% endif %}



{% endblock %}
