{% extends 'core/base.html' %}
{% load static %}
{% block title %}Recipe detail{% endblock %}

{% block content %}

<div class="container-fluid recipe-detail">

    <!-- Recipe img and to the right of that recipe title, rating, author and summery -->
    <div class="row">

        <!-- Recipe IMG -->
        <div class="col-4 col-recipe-img">
            <div class="contect_img_container">
                {% if recipe.image %}
                    <img src="{% static recipe.image.url %}" alt="Recipe image">
                {% endif %}
            </div>
        </div>


        <div class="col-8">
            <!--Recipe Title -->
            <h2>{{ recipe.name }}</h2>

            <!-- Edit recipe info button. NOTE: displays only if user is logged in and the recipe belongs to that user account  -->
            {% if request.user == recipe.user %}
                <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-primary">Edit info</a>
            {% endif %}

            <!-- Rating Stars-->
            <div class="star-ratings star-rating-content-page ">
                <div class="star-ratings-top" style="width: {{ recipe.avg_percent_rating_large }}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                <div class="star-ratings-bottom"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
            </div>
            <!-- Recipe Author -->
            <i class="text-muted">by {{ recipe.user.username }}</i>
            <!--Recipe Summary -->
            <p class="text-muted">{{ recipe.summary }}</p>
        </div>
    </div>

    <!-- Prep Time | Cook Time | Serving | Calories -->
    <div class = "row recipe_quick_info_container">
        <div class = "recipe_quick_info">
            <p class = "quick_info_text">{{ recipe.prep_time }} </p>
            <p class = "quick_info_text_bottom">Prep</p>
        </div>
        <div class = "recipe_quick_info">
            <p class = "quick_info_text">{{ recipe.cook_time }}</p>
            <p class = "quick_info_text_bottom">Cook</p>
        </div>
        <div class = "recipe_quick_info">
            <p class = "quick_info_text">{{ recipe.servings }} </p>
            <p class = "quick_info_text_bottom">Servings</p>
        </div>
        <div class = "recipe_quick_info" style="border: none">
            <p class = "quick_info_text">{{ recipe.calories }}</p>
            <p class = "quick_info_text_bottom">Calories</p>
        </div>
    </div>

    <!-- Ingredients Sections -->
    <div class="recipe_info_section_headers">
        <p>Ingredients</p>
    </div>

    <hr class="hr">

    <div class = "ingredient_direction_section_container" >
        <ul class="list-group">
            {% for ing in ingredients %}
                <li class="list-group-item">{{ ing.quantity }} {{ ing.ingredient.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Directions section -->
    <div class="recipe_info_section_headers">
        <p>Directions</p>
    </div>

    <hr class="hr">

    <div class = "ingredient_direction_section_container">
        <ul class="list-group">
            {% for dir in directions %}
                <li class="list-group-item">{{ dir.text }}</li>
            {% endfor %}
        </ul>
    </div>



<hr class="hr">

    <!-- Review and Rate section -->
    {% if can_review %}
        <div class="review_container">
            <h5>Leave a review</h5>
            <form action="{% url 'submit_review' recipe.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="rating" id="rating">  Rating  </label>  <span>★</span>  <span>★</span>  <span>★</span>  <span>★</span> <span>☆</span>
                    <input type="number" class="form-control" name="rating" id="rating">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="text" id="text" placeholder="What did you think of this recipe?"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    {% endif %}

</div>
{% endblock %}
