{% extends 'core/base.html' %}
  {% load static %}
<!--author: Ziming Dong-->

{% block title %}Recipe detail{% endblock %}

{% block content %}


<div class="row container-fluid">
        <div>
          {% if recipe.image %}
                <img class="recipeviewimage" src="{% static recipe.image.url %}">
          {% endif %}
        </div>

    <div class="board">

        <h5 id="recipename"> {{ recipe.name }} </h5>
        <h2 id="rat">{{ recipe.avg_rating }}</h2>
        <p id="name"><span>👨‍🍳</span> Recipe by: {{ recipe.user.username }}</p>
        <h6 id="description1"><span>"</span>{{ recipe.summary }}<span>"</span></h6>
    </div>

</div>


<hr class="hr">
<div class="container">
    <div class = "row board7">
{#            <h1>#}
{##}
{#        {% for category in recipe.categories.all %}#}
{#            <div class = "recipe_info" >Categories：[ {{ category.display_name }} ]</div>#}
{#        {% endfor %}#}
{#            </h1>#}
            <div id="board5">
            <p class= "recipe_info"><span>⏰</span> Prepare Time: {{ recipe.prep_time }}</p>
        </div>
            <p class = "recipe_info"><span>⏰</span> Cook Time: {{ recipe.cook_time }}</p></div>

    <div class= "row">
    <div id = "board6">
        <p class = "recipe_info"><span>🥄</span> Servings: {{ recipe.servings }} </p>
    </div>
        <p class = "recipe_info"><span>🥄</span> Calories: {{ recipe.calories }} </p>

     </div>
</div>



<hr class="hr">
    <div class="Ing">
        <h1 id="ingsize"> <span>🥘‍</span>Ingredients:</h1>
    </div>

    <div class="container">
    <div id="board3">
        <div >
            <h1>
                <ul>
    {% for ing in ingredients %}
        <li id="ingredients">{{ ing.quantity }} {{ ing.ingredient.name }}</li>
    {% endfor %}
    </ul>
            </h1>
        </div>
    </div>
</div>

<hr class="hr">
    <div class="relative">
        <h1 id="ingsize"> <span>📖</span> Directions:</h1>
    </div>
    <div class="container">
    <div id="board4">
        <div >
            <p>

    {% for dir in directions %}
        <h1 id="dirsize">{{ dir.text }}</h1>
    {% endfor %}


            </p>
        </div>
    </div>
</div>

<hr class="hr">

    {% if can_review %}
        <div class="col-6 relative">
            <h1 id="rating">Leave a review   <span>✍️</span></h1>
            <form action="{% url 'submit_review' recipe.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="text" id="text"></textarea>
                </div>
                <div class="form-group">
                    <label for="rating"id="rating">  Rating  </label>  <span>★</span>  <span>★</span>  <span>★</span>  <span>★</span> <span>☆</span>
                    <input type="number" class="form-control" name="rating" id="rating">
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>



    {% endif %}



{% endblock %}
