{% extends 'RecipeApp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid container-main">
    <div class="row">
        <div class="col-lg-3 col-sidebar">
            <div class="row" id="row-logo">
                <div class="logo"></div>
            </div>
            <div class="row row-sidebar">
                <form action="#" method="get">
                    <input type="text" class="form-control" name="search" id="search" placeholder="Search">
                </form>
            </div>
            <div class="row row-sidebar">
                <h5>Explore</h5>
            </div>
            <div class="row row-sidebar">
                <div class="list-group">
                    <a class="list-group-item active" href="#">Featured</a>
                    <a class="list-group-item" href="#">Popular</a>
                    <a class="list-group-item" href="#">Trending</a>
                    <a class="list-group-item" href="#">New</a>
                    <a class="list-group-item" href="#">Categories</a>
                </div>
            </div>
            <div class="row row-sidebar">
                <h5>My Kitchen</h5>
            </div>
            <div class="row row-sidebar">
                <div class="list-group">
                    <a class="list-group-item" href="#">Recipes</a>
                    <a class="list-group-item" href="#">Profile</a>
                    <a class="list-group-item" href="#">Preferences</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row"><h1>Featured</h1></div>
            <div class="row">
            {% if recipeList %}
                <ul>
                {% for recipe in recipeList %}
                    <li><a href={% url 'recipeDetail' recipe.id %}>{{ recipe.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No recipes are available.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
