{% extends 'RecipeApp/base.html' %}

{% block title %}Submit{% endblock %}

{% load static %}
{% block scripts %}
<script src="{% static 'RecipeApp/scripts/submit_recipe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Submit Recipe</h1>

    {% if form.errors %}
        <div class="alert alert-danger">
        {% for field in form %}
            {% for error in field.errors %}
                <p>
                    <strong>
                        {% if field.name == 'name' %}
                            Recipe name:
                        {% elif field.name == 'summary' %}
                            Summary:
                        {% elif field.name == 'prep_time' %}
                            Prep time:
                        {% elif field.name == 'cook_time' %}
                            Cook time:
                        {% elif field.name == 'servings' %}
                            Servings:
                        {% elif field.name == 'calories' %}
                            Calories:
                        {% endif %}
                    </strong>
                    {{ error }}
                </p>
            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'submit' %}" method="post" id="recipe_form">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Recipe name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter a recipe name">
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <textarea class="form-control" maxlength="1000" name="summary" id="summary"></textarea>
        </div>
        <div class="form-group">
            <label for="prep_time">Prep time</label>
            <input type="text" class="form-control" name="prep_time" id="prep_time" placeholder="1 hour">
        </div>
        <div class="form-group">
            <label for="cook_time">Cook time</label>
            <input type="text" class="form-control" name="cook_time" id="cook_time" placeholder="1 hour">
        </div>
        <div class="form-group">
            <label for="servings">Servings</label>
            <input type="number" class="form-control" name="servings" id="servings">
        </div>
        <div class="form-group">
            <label for="calories">Calories</label>
            <input type="number" class="form-control" name="calories" id="calories">
        </div>
        <div class="form-group">
            <label for="ingredients">Ingredients</label>
        </div>
        <div id="ingredients"></div>
        <div class="form-group">
            <button type="button" class="btn btn-secondary form-control" id="add_ingredient">Add ingredient</button>
        </div>
        <div class="form-group">
            <label for="directions">Directions</label>
        </div>
        <div id="directions"></div>
        <div class="form-group">
            <button type="button" class="btn btn-secondary form-control" id="add_direction">Add direction</button>
        </div>
        <div class="form-group">
            <label for="categories">Categories</label>
            <select id="categories" name="categories" class="form-control" aria-describedby="category-help" multiple>
                {% for category in categories %}
                    <option value="category{{ category.id }}">{{ category.display_name }}</option>
                {% endfor %}
            </select>
            <small id="category-help" class="form-text text-muted">Select all desired categories</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Templates used in JS -->
    <div class="form-row form-group" id="ingredient" style="display: none;">
        <div class="col-1">
            <button type="button" class="btn btn-primary btn-remove-recipe">
                <span class="oi oi-x" title="Remove recipe" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-1">
            <input type="number" class="form-control" name="quantity" id="quantity">
        </div>
        <div class="col-9">
            <input type="text" class="form-control" name="ing_name" id="ing_name">
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary btn-confirm-ingredient">
                <span class="oi oi-check" title="Confirm ingredient" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <div class="form-row form-group" id="direction" style="display: none;">
        <div class="col-1">
            <button type="button" class="btn btn-primary btn-remove-dir">
                <span class="oi oi-x" title="Remove direction" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-11">
            <input type="text" name="dir_text" id="dir_text" class="form-control">
        </div>
    </div>
</div>
{% endblock %}
