{% extends 'core/users/user_account_base.html' %}
{% block title %}User | Profile{% endblock %}
{% load static %}

{% block user_account_content %}

<div class = "right_section_container">
    <div class="user_recipe_section_header">{{ profile.user.username }}</div>
    <hr class="hr2">

    <div class = "row box_in_right_section_container">
        <div class = "user_profile_img_placeholder">
            <img class = "default_profile_img" src="{% static 'images/DefaultAvatar.jpg'%}">
        </div>
        <div class="row">
            <div class = "profile_bio_container">
                <h2>Bio</h2>
                <p>{{ profile.bio }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
